Checks: >
  -*,
  bugprone-*,
  performance-*,
  readability-container-size-empty,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-reserved-identifier,
  -bugprone-branch-clone,
  -bugprone-infinite-loop,
  -bugprone-macro-parentheses,
  -bugprone-casting-through-void,
  -bugprone-multi-level-implicit-pointer-conversion,
  -performance-enum-size,
  -performance-noexcept-move-constructor,
  -performance-noexcept-swap,
  -performance-no-int-to-ptr,

WarningsAsErrors: '*'
HeaderFilterRegex: '.*/src/[^/]+\.h$'
