obj
usrbin
*.o
__pycache__
.ccls-cache
*.bin
*.exe
*.d
bin
.vscode
CMakeFiles
*.cmake
.vs
out
build
imgui.ini
.direnv
.cache
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

vgcore.*
ignore*
