obj
usrbin
*.o
__pycache__
.ccls-cache
*.bin
*.exe
*.d
bin
.vscode
CMakeFiles
*.cmake
!libraries/**/*.cmake
.vs
out
build
imgui.ini
.direnv
.cache
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

vgcore.*
ignore*

.gdb_history
.obsidian
worktrees/
